.form__main {
    text-align: center;

}

.heading {
    font-size: 3em;
}


.form {
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.display>input {
    margin-top: 10vh;
    font-size: 1.5em;
    padding: 15px 10px 10px;
    width: 30vw;
    /* background-color: transparent; */
    border-radius: 4px;
    border: 1.5px solid gray;
    color: black;

}

.buttons {
    width: 95vw;
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.btn {
    width: 13vw;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;

    border: 2px solid black;
}

.cancel__btn {
    background-color: gray;
    margin-right: 30px;
}

.display {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
}

span {
    font-size: 1.5em;
    position: absolute;
    top: 85px;
    left: 10px;
    transition: 0.5s;
}


.span2 {
    /* top: 62px; */
    /* left: 20px; */
    right: 10px;
    width: 80px;
    font-size: 1.2em;
    color: #1D5B79;
    text-align: center;
   
;
}


@media only screen and (min-width:350px) and (max-width:550px) {
    .form {
        align-items: center;
        flex-direction: column;
    }

    .display>input {
        width: 80vw;

        margin-top: 5vh;
    }

    .buttons {
        align-items: center;
    }

    .btn {
        width: 40vw;
    }

    .span2 {
        top: 4vh;
    }

    span {
        top: 7vh;
    }

    input:focus~.span1 {
        top: 3.5vh;


    }

}

@media only screen and (min-width:700px) and (max-width:920px) {
    .display>input {
        width: 40vw;

        margin-top: 5vh;
    }

    .buttons {
        align-items: center;
    }

    .btn {
        width: 25vw;
    }

    .span2 {
        top: 4vh;
    }

    span {
        top: 6vh;
    }

    input:focus~.span1 {
        top: 4vh;


    }
}